player-connection-mode=Listen
player-connection-guid=2216050097
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.106
player-connection-ip=169.254.252.85
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
scripting-runtime-version=legacy
vr-enabled=0
hdr-display-enabled=0
